<%= link_to "Back to #{@house.name}", house_path(@house) %>

<h2>Create a New Character</h2>

<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQhsi4DraHTZempuUln1rPzn_bWvvalW3DIqGkOpKUWDm_c5ipS" alt="New Character Image" />

<%= form_for [@house,@character] do |f| %>

<p><%= f.label :name %>
<%= f.text_field :name %></p>

<p><%= f.label :origin %>
<%= f.text_field :origin %></p>

<p><%= f.label :img_url %>
<%= f.text_field :img_url %></p>

<%= f.submit "Create New Character!" %>
<% end %>
